.movie-cards {
    background-color: grey;
    width: 250px;
    height: 350px;
    margin: 10px;
    position: relative;
}

.movie-cards>button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
}

.movie-cards>p {
    align-self: flex-end;
}

.info {
    position: absolute;
    bottom: 0;
    left: 90px;
}