body {
    background-image: url("Live-Stream-Vol-2-Background-5-Still_LSM-HD.jpg");
    background-size: cover;
}

.movie-cards {
    background-color: grey;
    width: 250px;
    height: 350px;
    margin: 10px;
    position: relative;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
}

.model-button {
    position: absolute;
    left: 0;
    top: 0;
}

.movie-cards>p {
    align-self: flex-end;
}

.info {
    position: absolute;
    bottom: 0;
    left: 90px;
}

.modal-header {
    background-color: lightgrey;
}

